.kaomoji-typer-container {
	width: 400px;
	color: white;
	font-family: Century Gothic, sans-serif;
	position: fixed;
	top: 50%;
	user-select: none;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}

.kaomoji-typer {
	cursor: default;
	padding: 10px 25px;
}

.kaomoji-typer--header {
	border-radius: 10px 10px 0px 0px;
	cursor: move;
	background-color: #111;
	opacity: 1;
}

.kaomoji-typer--body {
	min-height: 120px;
}

.kaomoji-typer-listitem {
	padding:2px;
	display: block;
}

.kaomoji-typer-listitem-group--hide {
	display: none;
}

.kaomoji-typer--footer {
}
